<html>
  <head>
    <script src="timer.js" defer></script>
    <link href="txMike.css" rel="stylesheet" />
  </head>
  <body><div id="timerContainer" forTrainer>
        <emoji>&#9200;</emoji>
        <input type="range" id="timer" value="0" min="0" max="60" oninput="this.nextElementSibling.value = this.value" />
        <output id="divTimer"></output>
        <span class="largeEmoji activeEmoji" onclick="startTimer('timer', 'divTimer')">
            <emoji>&#127948;</emoji>
        </span>
        <span id="message" onclick="this.innerHTML=''"></span>
    </div>
  </body>
</html>