.fl {
    float: left;
    width:60%;
}
.student {
    display: none;
    pointer-events: none;
}
#displayMessages {
    margin: 15PX;
}
header, #timerContainer {
    padding: 10px;
    border-radius: 10px;
}

header, #timerContainer {
    background-color: cadetblue;
    color: white;
    height: 90px;
}

#courseTitle {
    margin-bottom: 0px;
}

svg {
    width: 90px;
    height: 90px;
    float: left;
    margin-left: 5px;
    margin-right: 40px;
}

emoji {
    font-size: x-large;
}

.largeEmoji {
    font-size: 40px;
}

#timer {
    width: 350px;
}
#timerContainer{
    font-size:x-large;
}

li:before {
    counter-increment: li;
    content: counter(li, decimal-leading-zero);
    color: black;
    margin-right: 0.25em;
}

ol {
    list-style-type: none;
    counter-reset: li;
}

div.passwords > span {
    margin-left: 5px;
}


a {
    text-decoration: none;
}

#txtArea {
    font-size: x-large;
    padding: 5px;
}

#pcs {
    column-count: 4;
    column-gap: 20px;
}

#password1, #password2 {
    width: 8em;
}

#pcsContainer {
    padding: 5px;
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
    box-shadow: 2px 2px 4px grey;
    margin-bottom: 5px;
    width: 100%;
}
